*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    height: 500px;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.body-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.range-input{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.box{
    flex-grow: 1;
}